@keyframes moveInLeft {

  /* --- Start State */
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }

  80% {
    transform: translateX(1%);
  }

  /* --- End State */
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInRight {

  /* --- Start State */
  0% {
    opacity: 0;
    transform: translateX(20%);
  }

  80% {
    transform: translateX(-1%);
  }

  /* --- End State */
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInBottom {

  /* --- Start State */
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  /* --- End State */
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {

  /* --- Start State */
  0% {
    opacity: 0;
  }

  /* --- End State */
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {

  /* --- Start State */
  0% {
    opacity: 1;
  }

  /* --- End State */
  100% {
    opacity: 0;
  }
}

@keyframes hideBlock {

  /* --- End State */
  100% {
    display: none;
    visibility: hidden;
  }
}