/* --- Universal Selector. Global Rest */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* --- Root Properties */
html {
  /* Percentage of User's Browser font-size Setting 
      
  10px / 16px = 0.625
  */
  font-size: 62.5%;
}