/* --- Font Properties */
body {
  box-sizing: border-box;
  padding: 3rem;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;

  color: $color-grey;
}

/* --- Headings */
.heading-primary {
  margin-bottom: 6rem;

  color: $color-white;
  text-transform: uppercase;

  /*
  If It Shakes a Little bit 
  backface-visibility: hidden
  */

  &--main {
    display: block;

    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: 500ms;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;

    /* 
    animation-name
    animation-delay
    animation-delay
    animation-iteration-count
    animation-timing
    */
  }

  &--sub {
    /* To Display One below the Other */
    display: block;

    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.8rem;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-delay: 500ms;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }
}

.heading-secondary {
  display: inline-block;

  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;

  background-image: linear-gradient(to right,
      $color-primary-light,
      $color-primary-dark);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  transition: all 200ms;

  &:hover {
    transform: skewY(3deg) skewX(2deg) scale(1.05);
    text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $def-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $def-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}