.btn {

  &:link,
  &:visited {
    display: inline-block;
    position: relative;
    border-radius: 10rem;

    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;

    transition: all 200ms;
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgb($color-black, .2);

    transform: translateY(-3px);

    &::after {
      transform: scaleX(1.25) scaleY(1.5);
      opacity: 0;
    }
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgb($color-black, .2);

    transform: translateY(-1px);
  }

  &--white,
  &--white::after {
    background-color: $color-white;
    color: $color-grey;
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
    /* Of the Width of the Button */
    width: 100%;
    border-radius: 10rem;

    transition: all 300ms;
  }

  &--animated {
    animation: moveInBottom 500ms ease-out 750ms;
    animation-fill-mode: backwards;
    /* Set Initial State of the Animation as the Initial Button Properties */

    /*
      animation-name: moveInBottom;
      animation-duration: 500ms;
      animation-timing-function: ease-out;
      animation-delay: 750ms;
      */
  }
}