.composition {
  position: relative;

  &__photo {
    width: 55%;
    position: absolute;
    outline-offset: 1.5rem;
    z-index: 10;

    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;

    transition: all 200ms;

    &:hover {
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 20;

      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      outline: 1rem solid $color-primary;
    }

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}