/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

Medium grey: #777

*/

// Colors
$color-grey-light1: #f7f7f7;
$color-grey-light2: #eee;
$color-grey-dark1: #999;
$color-grey-dark2: #777;
$color-grey-dark3: #333;
$color-white: #fff;
$color-black: #000;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// Default Font Sizes
$def-font-size: 1.6rem;

// Grid
$grid-width-big: 114rem;
$grid-width-medium: 55rem;
$gutter-vertical-medium: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal-medium: 6rem;

// Sizes
$def-border-radius: 3px;

// Margin
$def-margin-medium: 4rem;