/* --- Header Formatting */
.header {
  position: relative;
  height: 95vh;

  /* Image on Top */
  background-image: linear-gradient(to right,
      rgb($color-primary-light, 0.8),
      rgb($color-primary-dark, 0.8)),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;

  /* Clockwise */
  -webkit-clip-path: (0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  /* --- Logo */
  &__logo-box {
    position: absolute;
    /* Parent must have a Relative Position */
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  /* --- To Center Headings */
  &__text-box {
    @include center;

    text-align: center;
  }
}